{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comptes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcompte</th>
                <td>{{ entity.idCompte }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Pwd</th>
                <td>{{ entity.pwd }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ entity.tel }}</td>
            </tr>
            <tr>
                <th>Agence</th>
                <td>{{ entity.agence }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('comptes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('comptes_edit', { 'id': entity.idCompte }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
