{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idmedia</th>
                <td>{{ entity.idMedia }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('media') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('media_edit', { 'id': entity.idMedia }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
